div {
    background-color: black;
    width: 100%;
    height: 950px;
}

.c1 {
    background-color: white;
    width: 100%;
    height: 200px;
    border: 2px red solid;
    position: sticky;
    top: 0%;
}

.c2 {
    background-color: rgb(184, 214, 215);
    width: 100%;
    height: 752px;
    border: 2px red solid;
    background-image: url("./images1/cofeseed.jfif");
}

.c3 {
    background-color:rgb(25, 44, 25);
    width: 100%;
    height: 692px;
    border: 2px red solid;
}

.c4 {
    background-color:rgb(25, 44, 25);;
    width: 100%;
    height: 637px;
    border: 2px red solid;
}

.c5 {
    background-color: greenyellow;
    width: 100%;
    height: 600px;
    border: 2px red solid;
}

.c6 {
    background-color:rgb(25, 44, 25);
    width: 100%;
    height: 496px;
    border: 2px red solid;
}

.c7 {
    background-color: white;
    width: 100%;
    height: 560px;
    border: 2px red solid;
}

.c8 {
    background-color: chocolate;
    width: 100%;
    height: 400px;
    border: 2px red solid;
}

/* .c9 {
    background-color: cadetblue;
    width: 100%;
    height: 400px;
    border: 2px red solid;
} */

img {
    width: 5%;
    height: 87px;
    padding: 33px;

}

.c11 {
    width: 50%;
    height: 50px;
    margin-right: 20px;
    margin-left: 1465px;
    margin-top: -104px;
    background-color: white;
}

a {
    font-size: 27px;
    color: black;

}

.c22 {
    width: 100%;
    height: 50px;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 49px;
    background-color: white;
    font-size: 42px;
    color: black;
}

.c33 {
    width: 33%;
    height: 403px;
    background-color: rgb(184, 214, 215);
    margin-left: 719px;
    margin-top: 20px;
    background-image: url(./images1/cofeseed.jfif);

}

#b1 {
    width: 97%;
    height: 367px;
    margin-left: 81px;
    margin-top: -6px;
}

/* #b2{
    width: 25%;
    height: 242px; 
    margin-left: 318px;
    margin-top: -69px;  
} */
.c44 {
    width: 32%;
    height: 309px;
    background-color:  rgb(184, 214, 215);
    margin-top: 1px;
    margin-left: 834px;
    /* background-image: url(./images1/cofeseed.jfif); */
}

#t1 {
    color: cadetblue;
    text-align: center;
    word-spacing: 5px;
}

#a1 {
    color: darkred;
    border: black solid 2px;
}

#a2 {
    border: black solid 2px;
}
#t2{
    color: white;
    text-align: center;
}
#v1{
    width: 42%;
    height: 455px;
    padding: 50px;
}
#v2{
    width: 40%;
    height: 454px;
    padding: 50px;
}
#d1{
    width: 45%;
    height: 50px;
    margin-top: -33px;
    margin-left: 20px;
    background-color:rgb(25, 44, 25); 
}
#s1{
    color: white;
}
#d2{
    width: 37%;
    height: 50px;
    margin-top: -58px;
    margin-left: 899px;
    background-color:rgb(25, 44, 25);
   
}
#s2{
    color: white;
}
#v3{
    width: 42%;
    height: 455px;
    padding: 50px;
}
#v4{
    width: 45%;
    height: 455px;
    padding: 50px;   
}
#d3{
    width: 100%;
    height: 550;
    background-color: bisque;
    
}
#g1{
    color: rgb(76, 45, 7);
    text-align: center;
    font-size: 60px;
}
#d4{
    width: 100%;
    height: 443px;
    margin-top: 281px;
    background-color:lightblue;
    background-image: url(./images1/ice2.webp);
}
#v5{
    width: 43%;
    height: 364px;
    margin: -193px;
    margin-left: 442px;
}
#d5{
    width: 20%;
    height: 50px;
    margin-left: 20px;
    margin-top: 112px;
} 
#t4{
    color: white;
}
#cc6{
    width: 27%;
    height: 50px;
    background-color: rgb(25, 44, 25);
    margin-top: 50px;
    margin-left: 30px;
}
#g2{
color: rgb(178, 120, 43);
text-align: center;
}
#ccc6{
    width: 30%;
    height: 358px;
    background-color:rgb(25, 44, 25);
    margin-top: 50px;
    margin-left: 20px;   
}
#g3{
    color: white;
    text-align: left;
}
#c66{
    width: 100%;
    height: 550px;
    background-color: red;
}
#v6{
width:32%;
height: 456px;
margin-top: -552px;
margin-left: 728px;
}
#cc7{
    width: 50%;
    height: 401px;
    background-color: black;
}
#v7{
    width: 101%;
    height: 513px;
    margin-top: -33px;
    margin-left: -35px;
}
#ccc7{
    width: 100%;
    height: 500px;
    margin-top: -423px;
    margin-left: 1029px;
    background-color: white;
}
 #g4{
    font-size: 56px;
}
#g5{
    font-size: 52px;
    
} 
